/* Add styles for the chat container */
.view-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 600px;
    background-color: #f3f3f3; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    position: relative;
    margin-top: 10px;
}

.view-container .scrollable-text-view {
    height: 400px;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}

.scrollable-text-view textarea {
    min-height: 20px;
    border: none;
    margin: 5px 0;
    resize: none;
}

.view-container .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.view-container input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.view-container button {
    width: auto;
    height: auto;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-container button:hover {
    background-color: #0056b3;
}

.filterComponent {
    display: flex;
    flex-direction: row;
}

.view-container .chat-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    resize: none;
}

.view-container span {
    position: absolute;
    bottom: 3%;
    left: 84%;
    cursor: pointer;
    z-index: 1;
}

.view-container span:hover {
    color: #0056b3;
}

.emoji-icon {
    color: grey;
}

.view-container .picker {
    position: absolute;
    bottom: 10%;
    left: 52%;
    z-index: 1;
}

.user-filter-dropdown {
    position: absolute;
    right: 0; /* Align to the right edge of the filterComponent */
    left: 100%; /* Position below the filterComponent */
    background-color: rgb(189, 188, 188);
    border: 1px solid #ddd; /* Optional border */
    border-radius: 5px;
    z-index: 10; /* Ensure it's above other content */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Optional shadow */
    max-height: 200px; /* Limit the height */
    overflow-y: auto; /* Add scroll for overflow */
    padding: 10px;
    width: 100px; /* Set a fixed width */
}

/* Additional styling for individual checkboxes, labels, etc. */
.user-filter-dropdown div {
    margin-bottom: 5px;
    font-size: 16px;
    align-items: center;
    align-content: center;
}
